@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

:root {
  --background: #020617; /* Deep Slate 950 */
  --foreground: #f8fafc; /* Slate 50 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}